input {
  margin-left: 5px;
  outline: none;
  border: 1px solid navy;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  margin-left: 5px;
  color: black;
  border: none;
  /* border-radius: 15%; */
  /* height:3rem; */
  /* width:5rem; */
  font-size: 1.3rem;
  outline: none;
}

button:active {
  transform: translate(1px,1px);
}
